.thumbnail-item {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 10px;
}
.thumbnail-image {
  width: 110px;
  height: 100px;
}
.thumbnail-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
